




*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:0;
}

a,
a:link,
a:visited{
    text-decoration: none; 
    outline:none;
    border:none;
}

ul,
li{
    list-style: none;
    margin:0;
    padding: 0;
}
section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    
}

.container{
    max-width:1000px;
    margin:0 auto;
    padding: 0 20px;
}


.header{
    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height :100vh;
}



.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px 0;
}

.header-logo{
    font-size: 30px;
    padding-bottom:4px;
}




ul{
    display: flex;
}
li{
    margin-left: 30px;
}
 

 a{
     color:black;
     font-weight: bold;
     font-size: 25px;
 }

header.text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX();


}
#safari{
    color: aqua;
    font-size: 50px;
   
   
}
#crd1{
    margin-left: 600px;
}
#crd2{
margin-left: 600px;
}
#crd3{
    margin-left: 600px;
}


#bloger{
    color: blueviolet;
    font-size: 50px;
}

#bloger1{
    color: black;
    font-size: 30px;}


    #bloger2{
        color: black;
        font-size: 30px;}


        #bloger3{
            color: black;
            font-size: 30px;}

            #bloger4{
                color: black;
                font-size: 30px;}


                #bloger5{
                    color: black;
                    font-size: 30px;
                }

                .class1{
                    color: forestgreen;
                    font-size: 25px;
                
                }

                .class2{
                    color: black;
                    font-size: 15px;
                }
                






 
